# Activate text compression
<IfModule mod_deflate.c>
 SetOutputFilter DEFLATE
 DeflateCompressionLevel 9
</IfModule>

<Location />
 AddOutputFilterByType DEFLATE text/html
 AddOutputFilterByType DEFLATE text/css
 AddOutputFilterByType DEFLATE image/svg+xml
  AddOutputFilterByType DEFLATE image/webp

 # Pour les proxies
 Header append Vary User-Agent env=!dont-vary
</Location>

# BEGIN Cache-Control Headers
<IfModule mod_headers.c>
    <FilesMatch "\.(ico|css|webp|svg)$">
        Header set Cache-Control "max-age=86400, public"
    </FilesMatch>
</IfModule>
# END Cache-Control Headers

# BEGIN Expires Headers
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresByType image/svg "access plus 1 day"
    ExpiresByType image/webp "access plus 1 day"
    ExpiresByType text/css "access plus 1 day"
    ExpiresByType text/x-javascript "access plus 1 day"
    ExpiresByType image/x-icon "access plus 1 day"
    ExpiresDefault "access plus 2 days"
</IfModule>